/* Nabila MAIDI*/
/*feuille de style Media Quaries*/
body{
  background-color: olive;
  /*couleur de la font*/
  color: white;
  /*taille de la font*/
  font-size: 25px;
}
code{
  background-color: #333;
}
/*quand la fenetre fait 960px de large*/
 @media screen and (max-width:960px) {
  body{
    background-color: cyan;
    color: black;
  }
  /*img{
    display: none;
  }*/
}
/*quand la fenetre fait 786px de large*/
@media screen and (max-width:786px) {
  body{
    background-color: pink;
  }
  h1{
    color: black;
  }
  img{
    /*c'est pour dire de ne pas afficher l'image*/
    display: none;
}
/*quand la fenetre fait 550px de large*/
@media screen and (max-width:550px) {
  body{
    background-color: blue;
  }
  h1{
    color: orange;

  }
}
/*quand la fenetre fait 320px de large*/
@media screen and (max-width:320px) {
  body{
    background-color: grey;
  }
  h1{
    color: red;
  }
}
