.inline-b{
  display: inline-block;
}
nav li{
  display: inline-block;
  margin-left:20px;
}
nav{
  position: absolute;
  right: 25px;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
}
header{
  background-image:url('../img/planche2.jpg');
  position: relative;
  padding-bottom: 80px;
}

#logo{
  top: 60px;
  margin: auto;
  width: 200px;
  position: relative;
}
#logo img{
  top:-59px;
  position: absolute;
  width: 100%;
}
#logo div{
  width: 0;
	height: 0;
	border-top: 150px solid #FF1493;
	border-left: 150px solid transparent;
}


.droite{
  vertical-align: middle;
  width: 65%;
  display: inline-block;
}
.gauche{
  vertical-align: middle;
  width: 35%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}
.droite img, .gauche img{
  width: 100%;
}


h2{
  font-size: 30px;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
}
article p{
  font-size: 13px;
  text-align: center;
  margin:0px 165px;
  display: inline-block;
}

#freshfare img{
  display: inline-block;
  padding-bottom: 4px;
}
#freshfare article{
  float: right;
  width: 64%;
}
#ourstory img{
  transform: scaleX(-1);
  float: right;
  padding-bottom: 4px;
}

.footer img{
  width: 30px;
  height: 30px;
  float: right;
  margin-bottom: 60px;
}
.cover img{
  width: 100%;
  }
  p :after
