/*maquette responsive Nabila MAIDI*/
/*reset eric mayer*/
/*bouquin de ben frain editeur pearson*/
/*style pour ecran d'ordinateur*/
body{
  /*background-color: yellow;*/
}
#wrapper{
  /*background-color: grey;*/
  /*border: 3px solid black;*/
  width:960px;
  margin-right: auto;
  margin-left: auto;
}
header{
  /*background-color: #779307;*/
  width:940px;
  margin-right: 10px;
  margin-left: 10px;
}
nav{
  background-color: cyan;
  width:960px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 26px;
  margin-left: -10px;
}
nav li {
  display:inline-block;
  /*background-color: white;*/
}
aside {
  background-color: #fe9c00;
  margin-top: 58px;
  border-right: 2px solid #e8e8e8;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  width:220px;
  float: left;
}
#content {
  background-color: #dedede;
  width:698px;
  float: right;
  margin-right: 10px;

}
footer {
  margin-top:20px;
  background-color: #663300;
  width:940px;
  clear: both;
  margin-right: 10px;
  margin-left: 10px;
}
/*taille pour une tablette*/
@media screen and (max-width:760px) {
#wrapper, header, footer, nav{
  width: 760px;
  margin: 0px;
}
nav {
  text-align: center;
  background-image: none;
  border-top-color:#bfbfbf;
  border-top-style: double;
  border-top-width: 4px;
}
nav ul li a {
  background-color: #dedede;
  line-height: 60px;
  font-size: 40px;
}
header, nav, footer{
  width:740px;
}
#content, aside {
  padding-right: 10px;
  padding-left: 10px;
  width:728px;
  margin-top: 20px;
}
.oscarMain {
  margin-right: 30px;
  margin-top: 0px;
  width:150px;
  height: 394px;
}
aside {
  border-right: none;
  margin-top: 2px solid #e8e8e8;
  padding-top: 20px;
  margin-bottom: 20px;
}
.sideblock {
  width:46%;
  float: left;
}
.overhyped {
  margin-top: 0px;
  margin-left: 50px;
}
}
